

@{
    ViewBag.Title = "Home Screen";
}
<style type="text/css">



</style>
<body>
    <br>
    <div class="text-center">
        <h1>Simple CRUD App demo</h1>
    </div>
    

</body>


   